<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todo list</title>
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
  </head>
  <body>
    <div class="container" id="vue-app">
        <pre>{{ $data}}</pre>
     <div class="row">
       <div class="col-sm-12">
         <h1>My Todos</h1>
         <ul class="list-group">
           <!-- 注意循环的时候是从item在items里面，所以插值里面的应该是item.属性 -->
           <li class="list-group-item" v-for="(todo,index) in todos">
             {{ todo.title}}
             <button v-on:click="deleteTodo(index)"
              class="btn btn-warning btn-xs pull-right">Delete</button>
           </li>
         </ul>
       </div>
     </div>
     <div class="row">
       <div class="col-sm-12">
         <!-- 给按钮添加submit事件，（这里我们阻止了提交的默认行为）【参数书添加新的任务】 -->
         <form v-on:submit.prevent="addNewTodo(newTodo)" action="get">
           <div class="form-group">
             <input v-model="newTodo.title"
                type="text"
                class="form-control"
                placeholder="Add New Todo">
           </div>
           <div class="form-group">
             <!-- 给按钮添加点击事件【参数是删除旧的任务】 -->
             <button class="btn btn-success" type="submit">Add Todos</button>
           </div>
         </form>
       </div>
     </div>
   </div>
   <script>
       new Vue({
         el:'#vue-app',
         data:{
           todos:[{id:1,title:'Go Shopping'}],
           newTodo:{id:null,title:''}
         },
         methods:{
            addNewTodo(newTodo){
             this.todos.push(newTodo)//把新的内容放在旧的数组里面
             this.newTodo={id:null,title:''}//在把newTodo放回最初的状态
           },
           deleteTodo:function(index) {
             alert(this.todos)
             this.todos.splice(index,1)

           }
         }
       })
   </script>
  </body>
</html>
